.main_container {
  /*  */
  height: 80vh;
  background: center / cover no-repeat url(/img/header-bg.jpeg);
  background-attachment: fixed;

  /*  */
  position: relative;
  padding: 46px 230px 191px 230px;
  box-sizing: border-box;
  width: 1920px;
  height: 4000px;
  /* background-color: #171717; */
  margin: auto;
}

.header-logo {
  display: flex;
}

.contacts {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.contacts li span:nth-child(1) {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #d6af76;
}

.contacts li span:nth-child(2) {
  margin-right: 17px;
}

.contacts li a {
  text-decoration: none;
}

.contacts li a span:nth-child(1) {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
  padding: 17px 1px 17px 25px;
  width: 218px;
  height: 50px;
  border: 1px solid #e4b564;
}

/* section  out-heat-networks ******************************/

.out-heat-networks__h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
  margin-top: 207px;
}

.out-heat-networks__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  margin: 41px 0 41px 0;
  width: 1182px;
  height: 56px;
}

.out-heat-networks__grid {
  box-sizing: border-box;
  display: grid;
  width: 1460px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 468px);
  column-gap: 34px;
  row-gap: 27px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

.item-1 {
  grid-column: span 2;
  background: #634f2c;
}

.item-2 {
  grid-column: span 2;
  background: #b4a385;
  padding: 0 44px 0 44px;
}

.item-3 {
  grid-column: span 2;
  background: #e4b564;
}

.item-4 {
  grid-column: span 3;
  background: #635a4a;
}

.item-5 {
  grid-column: span 3;
  background: #b08c4d;
}

/* section own-fleet **********************************/
.own-fleet {
  margin: 161px 0 191px 0;
}

.own-fleet__flex {
  display: flex;
  width: 1460px;
  height: 897px;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}

.own-fleet__h1 {
  width: 1004px;
  height: 28px;
  left: 230px;
  top: 1497px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
  margin: 0 0 94px 0;
}

.own-fleet span {
  display: block;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.own-fleet__sludge-machine {
  width: 467px;
  height: 313px;
  left: 230px;
  top: 1619px;
  background: #0e0e0e;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.own-fleet__sludge-machine > p {
  padding: 44px 0 0 52px;
}

.own-fleet__loader {
  width: 467px;
  height: 560px;
  left: 230px;
  top: 1956px;
  background: #1f1f1f;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.own-fleet__loader > p {
  padding: 56px 0 0 52px;
}

.own-fleet__sewer-washing-machine {
  width: 467px;
  height: 439px;
  left: 727px;
  top: 1619px;
  background: #242424;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.own-fleet__sewer-washing-machine > p {
  padding: 51px 0 0 44px;
}

.own-fleet__excavator {
  width: 467px;
  height: 405px;
  background: #e4b564;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  box-sizing: border-box;
  padding: 47px 0 0 52px;
}

.own-fleet__excavator-loader {
  width: 467px;
  height: 255px;
  left: 1223px;
  top: 1619px;
  background: #1f1f1f;
  box-sizing: border-box;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  padding: 44px 0 0 48px;
}

.own-fleet__KAMAZ-onboard {
  width: 467px;
  height: 313px;
  left: 1223px;
  top: 1900px;
  background: #0e0e0e;
  box-sizing: border-box;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  padding: 44px 0 0 48px;
}

.own-fleet__road-roller {
  width: 467px;
  height: 277px;
  left: 1223px;
  top: 2239px;
  background: #0a0909;
  box-sizing: border-box;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  padding: 44px 0 0 48px;
}

/* **************section our-clients */

.our-clients {
  /*  */
  /* height: 80vh; */
  background: center / cover no-repeat url(/img/parallax-bg.jpeg);
  background-attachment: fixed;

  /*  */

  position: absolute;
  left: 0;
  width: 1920px;
  height: 1054px;
  box-sizing: border-box;
  margin: 0 0 50px 0;
  padding: 151px 230px 0 230px;
}

.our-clients h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}

.our-clients > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 71px 0;
}

.our-clients > div > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 180px;
  height: 50px;
  border: 1px solid #e4b564;
  color: #e4b564;
  padding: 10px 0 10px 40px;
  box-sizing: border-box;
}

.our-project {
  display: grid;
  width: 1460px;
  height: 782px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.our-project > div {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 120px 80px 0 80px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: rgb(255, 255, 255, 0);
}

.our-project > div:nth-child(1) {
  background: #634f2c;
}

.our-project > div:nth-child(2) {
  background: rgba(232, 210, 171);
}

.our-project > div:nth-child(3) {
  background: #e4b564;
}

.our-project > div:nth-child(4) {
  background: #635a4a;
}

.our-project > div:nth-child(5) {
  background: #b08c4d;
}

.our-project > div:nth-child(6) {
  background: #634f2c;
}

.our-project > div > p > span {
  display: block;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  font-size: 22px;
  line-height: 28px;
}

.our-project > div:hover {
  transition: 1s;
  color: rgb(255, 255, 255, 1);
  padding: 0 80px 0 80px;
}
